<h1>Edit Author: <%= author.name %> </h1>
    <form method="POST" action='/authors/<%= author.id %>?_method=PUT' >
        <div>
            <!-- <label>New name:</label>
            <input type="text" name="newName"> -->
            <%- include('_form_fields') %> 
            <button type="submit">Update</button>
            <a href="/authors/<%= author.id %>">Cancel</a>

        </div>
    </form>
    <%- include('_updateMessage.ejs') %> 
    <div>
        <label><h1>Livros desse autor:</h1></label>
        <% authorsBooks.forEach(book => { %> 
            <div>
                <%= book.title %> 
            </div>
        <% }) %> 
    </div>
