<h1>Edit Author: <%= author.name %> </h1>
    <form method="POST" action='/authors/<%= author.id %>?_method=PUT' >
        <div>
            <%- include('_form_fields') %> 

            <div class="form-row form-row-end btn-row">
                <button class="btn btn-primary" type="submit">Update</button>
                <a class="btn btn-danger" href="/authors/<%= author.id %>">Cancel</a>
            </div>


        </div>
    </form>
    <%- include('_updateMessage.ejs') %> 
    <div>
        <label><h1>Livros desse autor:</h1></label>
        <% authorsBooks.forEach(book => { %> 
            <div>
                <%= book.title %> 
            </div>
        <% }) %> 
    </div>
